body {
    background-color: #ef1708;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #0d0565;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}
